# Variável para usar num servidor MySQL local, basta substituir os dados de acesso.

#DATABASE_URL="mysql://usuario:senha@url-servidor:porta/nome_Do_Banco"

# Avariável abaixo é útil para criar e usar uma base de dados local com SQLite,
# basta mudar provider = "mysql" para provider = "sqlite" no ./prisma/schema.prisma.

DATABASE_URL="file:./dev.db"

# Chave de segurança para assinatura de token.

# Usuário
SECRET='1@CJ2.D~Efi#'
# Administrador
SECRET_EMAIL='barbershop@gmail.com'

#barber-shop-server.fly.dev